doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/genIdCard.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    img(src=qrSrc)
    div(class="mr")
      h1 Mesin Jahit Seken Batam
      div(class='flex-row gap')
        div(class="flex-col align-end")
          p Model :
          p ID :
        div(class="flex-col align-start")
          p #{model}
          p #{qrText}

